* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Archivo";
}

/* ::selection {
    background-color: #fff;
    color: #000;
} */

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button,
input {
    border: 0;
    font-family: "Archivo";
}

button:focus,
input:focus {
    border: 0;
}

body {
    font-family: "Archivo";
    background-color: #fff;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #040405;
}

::-webkit-scrollbar-thumb {
    background-color: teal;
    border-radius: 8px;
}

header {
    padding: 0px 50px;
    background: #040405;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    border-bottom: 1px solid #101013;
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 992px) {
    header {
        padding: 0px 24px;
    }
}

header .grid-layout nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    padding: 0px 8px;
}

header .grid-layout nav img {
    width: 150px;
}

header .grid-layout nav .nav-list {
    list-style: none;
    display: flex;
}

header .grid-layout nav .nav-list li {
    margin-left: 48px;
}

@media screen and (max-width: 992px) {
    header .grid-layout nav .nav-list li {
        margin-left: 0px;
    }
}

header .grid-layout nav .nav-list li a {
    color: #d8d8d8;
    position: relative;
    font-size: 1.8rem;
}

header .grid-layout nav .nav-list li a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -7px;
    left: 0;
    background: linear-gradient(270deg, teal 100%, #17161d 100%);
    transform-origin: bottom right;
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

header .grid-layout nav .nav-list li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

header .grid-layout nav .nav-list li a:hover {
    color: #fff;
}

.mobile-menu {
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 1px;
    background-color: #fff;
    margin: 8px;
    transition: 0.4s;
}

.nav-list.active {
    visibility: initial;
    transition: 1s all ease;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

@media screen and (max-width: 992px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        text-align: center;
        position: absolute;
        top: 100px;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        background-color: #09090b;
        flex-direction: column;
        padding-top: 96px;
        visibility: hidden;
    }

    header .grid-layout nav .nav-list li {
        opacity: 0;
        margin-bottom: 48px;
    }

    header .grid-layout nav .nav-list li a {
        font-size: 2.4rem;
    }

    .mobile-menu {
        display: block;
    }
}

/* home */

#home {
    padding: 0px 50px;
    background-color: #040405;
    position: relative;
}

@media screen and (max-width: 992px) {
    #home {
        padding: 100px 20px 0px 20px;
    }
}

#home .grid-layout {
    display: flex;
    align-items: center;
    min-height: 90vh;
    padding: 150px 0px;
    overflow: hidden;
    width: 100%;
}

@media screen and (max-width: 992px) {
    #home .grid-layout {
        padding: 0px;
    }
    #home-bg-photo {
        /* display: none; */
        width: 50vh;
    }
}

#home .grid-layout #home-container-text {
    width: 50%;
    flex-direction: column;
    /* background-image: url(""); */
}

@media screen and (max-width: 992px) {

    #home .grid-layout,
    #home .grid-layout #home-container-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 0px;
    }
}

#home .grid-layout #home-container-text h1 {
    color: #fff;
    max-width: 650px;
    line-height: 140%;
    font-size: 4rem;
    font-weight: 500;
}

@media screen and (max-width: 992px) {
    #home .grid-layout #home-container-text h1 {
        font-size: 3.2rem;
    }
}

#home .grid-layout #home-container-text h1 span {
    color: teal;
}

#home .grid-layout #home-container-text p {
    color: #d8d8d8;
    font-size: 2rem;
    max-width: 600px;
    margin: 40px 0px;
    font-weight: 300;
    line-height: 160%;
}

#home .grid-layout #home-container-text a {
    background: teal;
    color: #fff;
    backdrop-filter: blur(10px);
    padding: 20px 32px;
    max-width: 250px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
}

#home .grid-layout #home-container-text a:hover {
    background: rgb(0, 81, 81);
}

#home .grid-layout #logo {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translate(0%, -50%);
}

@media screen and (max-width: 1200px) {
    #home .grid-layout #logo {
        display: none;
    }
}


/* about */

#about {
    padding: 72px 0px 96px 0px;
    background-color: #040405;
}

@media screen and (max-width: 1200px) {
    #about {
        padding: 72px 20px;
    }
}

#about .grid-layout>div {
    background-color: #09090b;
    border: 2px solid #101013;
    padding: 24px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

@media screen and (max-width: 1200px) {
    #about .grid-layout>div {
        flex-wrap: wrap;
        gap: 32px;
    }
}

#about .grid-layout>div .home-img-div {
    width: 47%;
    /* background-image: url("assets/image/profile-photo-neha-sahu.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    height: 500px;
}

#about .grid-layout>div .home-img-div>img {
    padding: 90px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


@media screen and (max-width: 1200px) {
    #about .grid-layout>div .home-img-div {
        width: auto;
    }

}

@media screen and (max-width: 992px) {
    #about .grid-layout>div .home-img-div {
        height: 350px;
    }

}

@media screen and (max-width: 768px) {
    #about .grid-layout>div .home-img-div {
        height: 300px;
    }

}

#about .grid-layout>div .home-img-div h3 {
    color: #040405;
    background-color: #fff;
    padding: 8px;
    border-radius: 16px;
    width: 180px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 16px;
}

#about .grid-layout>div div:nth-child(2) {
    width: 49%;
}

@media screen and (max-width: 1200px) {
    #about .grid-layout>div div:nth-child(2) {
        width: 100%;
    }
}

#about .grid-layout>div div:nth-child(2) h2 {
    font-size: 4rem;
    font-weight: 500;
    margin: 16px 0px;
    color: #fff;
}

@media screen and (max-width: 992px) {
    #about .grid-layout>div div:nth-child(2) h2 {
        font-size: 3.2rem;
    }
}

#about .grid-layout>div div:nth-child(2) h3 {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 16px;
    color: #fff;
}

#about .grid-layout>div div:nth-child(2) h4 {
    font-size: 3.2rem;
    font-weight: 500;
    color: teal;
}

#about .grid-layout>div div:nth-child(2) p {
    font-size: 1.8rem;
    color: #d8d8d8;
    line-height: 160%;
    margin: 32px 0px 48px 0px;
}

#about .grid-layout>div div:nth-child(2) nav ul {
    display: flex;
    align-items: center;
    gap: 16px;
}

@media screen and (max-width: 1200px) {
    #about .grid-layout>div div:nth-child(2) nav ul {
        flex-wrap: wrap;
    }
}

#about .grid-layout>div div:nth-child(2) nav ul a {
    background-color: #040405;
    border: 2px solid #101013;
    border-radius: 6px;
    padding: 16px;
}

@media screen and (max-width: 1200px) {
    #about .grid-layout>div div:nth-child(2) nav ul a img {
        width: 40px;
    }
}

#about .grid-layout>div div:nth-child(2) nav ul a:hover {
    border-color: teal;
}

/* projects */

#projects {
    padding: 96px 48px;
    text-align: center;
    background-color: #040405;
}

@media screen and (max-width: 992px) {
    #projects {
        padding: 48px 24px;
    }
}

#projects .grid-layout h2,
#about .grid-layout h2 {
    padding-bottom: 24px;
    color: #fff;
    font-size: 4rem;
    font-weight: 500;
}

#projects .grid-layout h2 span,
#about .grid-layout h2 span {
    color: teal;
}

#projects .grid-layout #section-projects {
    margin: 24px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
}

#projects #git-stats #section-projects {
    margin: 24px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
}

#projects .grid-layout #section-projects>article {
    background-color: #09090b;
    height: auto;
    padding: 32px;
    margin: 8px;
    flex-basis: calc(33% - 20px);
    flex-grow: 1;
    border: 1px solid #040405;
    transition: 1s all ease;
    height: auto;
}

#projects .grid-layout #section-projects>article>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


#projects .grid-layout #section-projects>article:hover {
    border: 1px solid teal;
}

#projects .grid-layout #section-projects #git-stats:hover {
    border: 1px solid #000;
}

@media screen and (max-width: 1200px) {
    #projects .grid-layout #section-projects>article {
        flex-basis: calc(50% - 20px);
    }
}

@media screen and (max-width: 768px) {
    #projects .grid-layout #section-projects>article {
        flex-basis: calc(100% - 20px);
    }
}

#projects .grid-layout #section-projects>article h3 {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 500;
}

#projects .grid-layout #section-projects>article p {
    line-height: 24px;
    margin: 24px 0px;
    color: #d8d8d8;
    line-height: 3.2rem;
    font-size: 1.8rem;
}

#projects .grid-layout #p-cards {
    color: teal;
}

#projects .grid-layout #p-cards::after {
    background: linear-gradient(270deg, teal 100%, #17161d 100%);
}

#projects .grid-layout a {
    color: teal;
    position: relative;
    font-size: 2rem;
    font-weight: 400;
}

#projects .grid-layout a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -7px;
    left: 0;
    background: linear-gradient(270deg, teal 100%, #17161d 100%);
    transform-origin: bottom right;
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

#projects .grid-layout a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#projects .grid-layout a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -7px;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

#projects .grid-layout a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* github */


#github {
    padding: 96px 48px;
    text-align: center;
    background-color: #040405;
}

@media screen and (max-width: 992px) {
    #github {
        padding: 48px 24px;
    }
}

#github .grid-layout h2 {
    padding-bottom: 24px;
    color: #fff;
    font-size: 4rem;
    font-weight: 500;
}

#github .grid-layout h2 span {
    color: teal;
}


#github #git-stats #section-github {
    margin: 24px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
    text-align: left;
}

#github .grid-layout #section-github>article {
    background-color: #09090b;
    height: auto;
    padding: 32px;
    margin: 8px;
    flex-basis: calc(33% - 20px);
    flex-grow: 1;
    border: 1px solid #040405;
    transition: 1s all ease;
    height: auto;

}


@media screen and (max-width: 1200px) {
    #github .grid-layout #section-github {
        flex-basis: calc(50% - 20px);
    }
}

@media screen and (max-width: 768px) {
    #github .grid-layout #section-github>article {
        flex-basis: calc(100% - 20px);
    }
}

/* sub-skills */


#sub-skills {
    padding: 10px 48px 96px 48px;
    background-color: #040405;
}

@media screen and (max-width: 992px) {
    #sub-skills {
        padding: 48px 24px;
    }
}

#sub-skills .grid-layout h2 {
    text-align: center;
    padding-bottom: 24px;
    color: #fff;
    font-size: 4rem;
    font-weight: 500;
}

#sub-skills .grid-layout h2 span {
    color: teal;
}

#sub-skills .grid-layout #sub-skills-section {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    margin: 24px 0px;
}

#sub-skills .grid-layout #sub-skills-section article {
    background-color: #09090b;
    height: auto;
    padding: 32px;
    margin: 8px;
    flex-basis: calc(33% - 20px);
    flex-grow: 1;
    border: 1px solid #040405;
    transition: 1s all ease;
    border: 1px solid #101013;
    border-radius: 4px;
}

#sub-skills .grid-layout #sub-skills-section article:hover {
    border: 1px solid teal;
}

@media screen and (max-width: 1200px) {
    #sub-skills .grid-layout #sub-skills-section article {
        flex-basis: calc(50% - 20px);
    }
}

@media screen and (max-width: 768px) {
    #sub-skills .grid-layout #sub-skills-section article {
        flex-basis: calc(100% - 20px);
    }
}

#sub-skills .grid-layout #sub-skills-section article div {
    height: 90px;
}

#sub-skills .grid-layout #sub-skills-section article div img {
    width: 70px;
}

#sub-skills .grid-layout #sub-skills-section article h3 {
    padding: 24px 0px;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 500;
}

#sub-skills .grid-layout #sub-skills-section article p {
    line-height: 3.2rem;
    color: #d8d8d8;
    font-size: 1.8rem;
}

/* skills */

#skills {
    padding: 96px 48px 0px 48px;
    background-color: #040405;
}

@media screen and (max-width: 992px) {
    #skills {
        padding: 48px 24px;
    }
}

#skills .grid-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    padding: 8px;
}

#skills .grid-layout div,
#skills .grid-layout article {
    width: 50%;
}

@media screen and (max-width: 1200px) {

    #skills .grid-layout div,
    #skills .grid-layout article {
        width: 100%;
    }
}

#skills .grid-layout #skills-text {
    /* min-height: 400px; */
    height: auto;
}

@media screen and (max-width: 768px) {
    #skills .grid-layout #skills-text {
        min-height: auto;
    }
}

#skills .grid-layout #skills-text h2 {
    margin-bottom: 32px;
    color: #fff;
    font-size: 4rem;
    font-weight: 500;
}

#skills .grid-layout #skills-text h2 span {
    color: teal;
}

#skills .grid-layout #skills-text .changeDescription {
    transition: 2s all ease;
}

@media screen and (max-width: 768px) {
    #skills .grid-layout #skills-text .changeDescription {
        display: none;
    }
}

#skills .grid-layout #skills-text p {
    max-width: 500px;
    line-height: 3.2rem;
    color: #d8d8d8;
    font-size: 1.8rem;
}

#skills .grid-layout #skills-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

#skills .grid-layout #skills-cards>article {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 1200px) {
    #skills .grid-layout #skills-cards {
        margin-top: 48px;
    }
}

#skills .grid-layout #skills-cards article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 20%;
    flex-grow: 1;
    height: 130px;
    background-color: #09090b;
    position: relative;
    border: 1px solid #101013;
    border-radius: 4px;
    transition: 1s all ease;
}

#skills .grid-layout #skills-cards article:hover {
    border: 1px solid teal;
}

@media screen and (max-width: 768px) {
    #skills .grid-layout #skills-cards article {
        width: 40%;
    }
}

/* contact section */


#contact {
    padding: 72px 0px 96px 0px;
    background-color: #040405;
}

@media screen and (max-width: 1200px) {
    #contact {
        padding: 72px 20px;
    }
}

#contact .grid-layout>div {
    background-color: #09090b;
    border: 2px solid #101013;
    padding: 24px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

@media screen and (max-width: 1200px) {
    #contact .grid-layout>div {
        flex-wrap: wrap;
        gap: 32px;
    }
}


#contact .grid-layout>div #contact-photo {
    width: 47%;
    /* background-image: url("https://i.pinimg.com/originals/e8/72/ca/e872cad228d790ba8fb63bb40056a208.gif"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    height: auto;
}

@media screen and (max-width: 1200px) {
    #contact .grid-layout>div #contact-photo {
        width: auto;
    }
}

@media screen and (max-width: 992px) {
    #contact .grid-layout>div .home-img-div {
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    #contact .grid-layout>div .home-img-div {
        width: auto;
    }
}


#contact .grid-layout>div div:nth-child(2) {
    width: 49%;
}

@media screen and (max-width: 1200px) {
    #contact .grid-layout>div div:nth-child(2) {
        width: 100%;
    }
}

#contact .grid-layout>div div:nth-child(2) h2 {
    font-size: 4rem;
    font-weight: 500;
    margin: 16px 0px;
    color: #fff;
}

@media screen and (max-width: 992px) {
    #contact .grid-layout>div div:nth-child(2) h2 {
        font-size: 3.2rem;
    }
}

#contact .grid-layout>div div:nth-child(2) h3 {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 16px;
    color: #fff;
}

#contact .grid-layout>div div:nth-child(2) h4 {
    font-size: 3.2rem;
    font-weight: 500;
    color: teal;
}

#contact .grid-layout>div div:nth-child(2) p {
    font-size: 1.8rem;
    color: #d8d8d8;
    line-height: 160%;
    margin: 32px 0px 48px 0px;
}

#contact .grid-layout>div div:nth-child(2) nav ul {
    display: flex;
    align-items: center;
    gap: 16px;
}

@media screen and (max-width: 1200px) {
    #contact .grid-layout>div div:nth-child(2) nav ul {
        flex-wrap: wrap;
    }
}

#contact .grid-layout>div div:nth-child(2) nav ul a {
    background-color: #040405;
    border: 2px solid #101013;
    border-radius: 6px;
    padding: 16px;
}

@media screen and (max-width: 1200px) {
    #contact .grid-layout>div div:nth-child(2) nav ul a img {
        width: 40px;
    }
}

#contact .grid-layout>div div:nth-child(2) nav ul a:hover {
    border-color: teal;
}

#contact .grid-layout>h2 {
    padding-bottom: 24px;
    color: #fff;
    font-size: 4rem;
    font-weight: 500;
}

#contact .grid-layout h2 span {
    color: teal;
}

/* footer */

footer {
    width: 100%;
    height: auto;
    background-color: #09090b;
    color: #fff;
    padding: 24px 0px;
    text-align: center;
    align-items: center;
}


footer p {
    font-size: 1.8rem;
    color: teal;
    font-weight: 500;
}

.grid-layout {
    max-width: 1140px;
    margin: 0 auto;
}